.message{
  background-color: blue;
  display: flex;
}

/*Список сообщений*/
.message__list{
  background-color: white;
  border-radius: 18px;
  width: 500px;
  height: 600px;
  overflow: auto;
}
/*Сообщение*/
.message__item{
  width: fit-content;
  background-color: blue;
  border-radius: 16px;
  padding: 4px 8px;
  margin: 2px;
  color: white;
}